
    <div class="container mt-5" style="background-color: skyblue;">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="row">
                        <h3 style=" background-color: red;">CONTACT US</h3>
                        <div class="col-4" style="margin-left: 10em;">
                            <label>fullname</label>
                            <input type="text" class="form-control" placeholder="type">
                        </div>
                        <div class="col-4">
                            <label>email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8" style="margin-left: 10em;">
                                <label>Query</label>
                                <textarea cols="10" rows="3" class="form-control"></textarea>
                                <button type="button" class="btn btn-danger" style="margin-top: 1em;margin-left: 15em; padding: 5px 80px; border-radius: 10px 10px;">SUBMIT</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>