      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6 mt-5">
                <img src="/image/TITLE-IMAGE-.webp" style="height: 350px;">
                <h4 style="margin-left: 5em;">sport shoes</h4>
              </div>
              <div class="col-6 mt-5">
                <img src="/image/pro3.jpg" style="height: 350px;">
                <h4 style="margin-left: 5em;">sneaker</h4>
              </div>
              <div class="col-12">
                  <div class="row">
                  <div class="col-6">
                    <img src="/image/pro4.jpg" style="height: 350px;margin-top: 3em;">
                    <h4 style="margin-left: 5em;"> FujiFilm Camera</h4>
                  </div>
                  <div class="col-6">
                    <img src="/image/pro5.jpg" alt="" style="height: 350px;margin-top: 3em;">
                    <h4 style="margin-left: 5em;">moisturizer cream</h4>
                  </div>
                  <div class="col-6">
                    <img src="/image/pro6.jpg" alt=""style="height: 350px;margin-top: 3em;">
                    <h4 style="margin-left: 5em;">Hair oil</h4>
                  </div>
                  <div class="col-6">
                    <img src="/image/pro7.jpg" alt="" style="height: 350px;margin-top: 3em;">
                    <h4 style="margin-left: 5em;"
                    > skin oil</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>