
  <div class="container">
    <div class="row">
      <div class="col-12">
      <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4" style="background-color: skyblue; padding: 20px 20px; margin-top: 3em;">
            <h3>LOGIN</h3>
            <label>email</label>
            <input type="email" class="form-control" placeholder="type">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-4" style="background-color: skyblue; padding: 20px 20px;">
                <label>Password</label>
                <input type="number" class="form-control" placeholder="type">
                <button type="button" class="btn btn-danger" style="margin-top: 2em; margin-left: 8em; border-radius: 5px; padding: 2px 20px;"> LOGIN</button>
                <div style="margin-left: 14em;"><a href="">forgot Password</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</div>

</html>