
  <div>
    <p class="text">Apptension showed great flexibility, having deep technical knowledge and understanding of how our
      industry works."

      Head of Production, Independent Creative Agency <br>"The breadth of their skill set and overall talent were
      impressive."</p>
    <p class="text">"We've had many developers drop the ball on website launches, but CreateApe consistently worked out
      any kinks quickly."</p>
    <h4 style="color: red;">Product design</h4>
    <p class="para"> as a verb is to create a new product to be sold by a business to its customers.[1] A very broad
      coefficient and effective generation and development of ideas through a process that leads to new products.[2]
      Thus, it is a major aspect of new product development.

      Product design process: the set of strategic and tactical activities, from idea generation to commercialization,
      used to create a product design. In a systematic approach, product designers conceptualize and evaluate ideas,
      turning them into tangible inventions and products. The product designer's role is to combine art, science, and
      technology to create new products that people can use. Their evolving role has been facilitated by digital tools
      that now allow designers to do things that include communicate, visualize, analyze, 3D modeling and actually
      produce tangible ideas in a way that would have taken greater human resources in the past.

      Product design is sometimes confused with (and certainly overlaps with) industrial design, and has recently become
      a broad term inclusive of service, software, and physical product design. Industrial design is concerned with
      bringing artistic form and usability, usually associated with craft design and ergonomics, together in order to
      mass-produce goods.[3] Other aspects of product design and industrial design include engineering design,
      particularly when matters of functionality or utility (e.g. problem-solving) are at issue, though such boundaries
      are not always clear.</p>
    <h4 style="color: red;">Product design process</h4>
    <p class="para">There are various product design processes and many focus on different aspects. One example
      formulation/model of the process is described by Don Koberg and Jim Bagnellin in "The Seven Universal Stages of
      Creative Problem-Solving." The process is usually completed by a group of people with different skills and
      training—e.g. industrial designers, field experts (prospective users), engineers (for engineering design aspects),
      depending upon the nature and type of the product involved. The process often involves figuring out what is
      required, brainstorming possible ideas, creating mock prototypes and then generating the product. However, that is
      not the end. Product designers would still need to execute the idea, making it into an actual product and
      evaluating its success (seeing if any improvements are necessary).

      The product design process has experienced huge leaps in evolution over the last few years with the rise and
      adoption of 3D printing. New consumer-friendly 3D printers can produce dimensional objects and print upwards with
      a plastic like substance opposed to traditional printers that spread ink across a page.</p>
    <h5 style="color: red;">The product design process, as expressed by Koberg and Bagnell, typically involves three
      main aspects:</h5>
    <ul>
      <li>Analysis</li>
      <li>Concept</li>
      <li>Synthesis</li>
    </ul>
    <p class="para">Depending on the kind of product being designed, the latter two sections are most often revisited
      (e.g. depending on how often the design needs revision, to improve it or to better fit the criteria). This is a
      continuous loop, where feedback is the main component.[5] Koberg and Bagnell offer more specifics on the process:
      In their model, "analysis" consists of two stages, "concept" is only one stage, and "synthesis" encompasses the
      other four. (These terms notably vary in usage in different design frameworks. Here, they are used in the way
      they're used by Koberg and Bagnell.)</p>
    <h4 style="color: red;">Analysis</h4>

    <h5>Accept Situation:</h5>
    <p class="para">Here, the designers decide on committing to the project and finding a solution to the problem. They pool their
      resources into figuring out how to solve the task most efficiently.</p>
      <h5>Analyze: </h5>
      <p class="para"> In this stage, everyone in the team begins research. They gather general and specific materials which will help to figure out how their problem might be solved. This can range from statistics, questionnaires, and articles, among many other sources.</p>
      <h4 style="color: red;">concept</h4>
      <h5>Define:</h5>
      <p class="para">This is where the key issue of the matter is defined. The conditions of the problem become objectives, and restraints on the situation become the parameters within which the new design must be constructed.</p>
      <h4 style="color: red;">Analysis</h4>
      <h5>Ideate:</h5>
      <p class="para">The designers here brainstorm different ideas, solutions for their design problem. The ideal brainstorming session does not involve any bias or judgment, but instead builds on original ideas.  </p>
  </div>
</body>

</html>